name: CI Pipeline
on:
  push:
    branches: [main] 
jobs:
  build:
    runs-on: ubuntu-latest
  steps: 
    - name: Checkout code
      uses: actions/checkout@y5
    
    - name: Set up Node.jobs
      uses: actions/setup-node@y3
      with:
        node-version: 16

    - name: Install Dependencies
      run: npm Install

    - name: Run tests
      run: npm test 